html {
  padding:0px;
  margin:0px;
  height: 100%;
}
body {
  height: 100%;
  margin:0px;
}
#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin:0;
  padding:0;
  display: block;
  height: 100%;

}